services:
  db:
    image: postgres:17
    container_name: "db"
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    healthcheck:
      test:
        - CMD-SHELL
        - >
          pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB &&
          pg_isready -U $$POSTGRES_USER -d $${POSTGRES_DB}_test
      interval: 2s
      timeout: 3s
      retries: 5
      start_period: 3s

volumes:
  db_data:
