services:
  db:
    image: postgres:18
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - db_data:/var/lib/postgresql
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 2s
      timeout: 3s
      retries: 5
      start_period: 2s

  redis:
    image: redis:7
    ports:
      - "${REDIS_PORT:-6379}:6379"

volumes:
  db_data:
