ADMIN_SESSION_SECRET=just-for-dev
CORS_ALLOW_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]
JWT_SECRET=just-for-dev
LITESTAR_APP=backend:app
LITESTAR_RELOAD=true
POSTGRES_HOST=localhost
RATE_LIMIT_PER_MINUTE_ANONYMOUS=10
RATE_LIMIT_PER_MINUTE_AUTHENTICATED=100
